<!DOCTYPE html>
<html>
	<head>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
		<title>Carleton Sexodus</title>
		<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		</strong>
	</head>
	<body>

		<header>
			<div class="container">
				<h1 class="logo">Sexodus
					<p><h1 class="subtitle">Carls Sexiling Carls</h1></p>

				</h1>
			</div>
		</header>

		<div class="container">
			{% block content %}
			{% endblock %}
		</div>

	</body>
</html>